<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Opp.Properties.Settings.Opp_FilmConnectionString"
            connectionString="Data Source=PROPIETARIO-PC;Initial Catalog=&quot;Opp Film&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Opp.Properties.Settings.OppDBConnectionString" connectionString="Data Source=PROPIETARIO-PC;Initial Catalog=OppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>